$main-color: #521751;
$colors: (
  main: #fae5ff,
  secondary: #fa923f,
); /*map*/
$border-default: 0.05rem solid $main-color; /*list */
$fonts: Arial, sans-serif; /*also a  list */
$size-default: 3rem;