* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Indie Flower", cursive;
}
#product-overview {
  background: url("./freedom.jpg");
  width: 100%;
  height: 528px;
  padding: 10px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  /* padding: 30px;
    border: 5px solid black; */
}
.section-title {
  color: #05386b;
  text-align: center;
}
#product-overview h1 {
  color: #edf5e1;
}

.plan__list{

  width: 80%;
  margin:auto;
  text-align: center;
}

.plan {
  background-color: #8ee4af;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan--highlighted {
  background: #5cdb95;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  background: white;
  color: #5cdb95;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.plan__title {
  color: #05386b;
}
.plan__price {
  color: #edf5e1;
}

.plan--highlighted .plan__title {
  color: #edf5e1;
}

.plan--highlighted .plan__price {
  color: #05386b;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}
.plan__feature {
  margin: 8px 0;
}



#key-features{
  background: #379683;
  margin-top: 80px;
  padding: 16px;
}

#key-features .section-title{
  color:  #edf5e1;
  margin: 32px;
}
.key-feature__list{
  list-style: none;
  margin:0;

  padding: 0;
  text-align: center;
}


.key-feature{
  display: inline-block;
  width: 33%;
}
.key-feature__image{
  background: #05386b;
  width: 128px;
  height: 128px;
  border: 2px solid #edf5e1;
  border-radius: 50%;
  margin: auto;
}

.key-feature__description{
  text-align: center;
  font-weight: bold;
  color:  #edf5e1;
  font-size: 20px;
}


/* Pseudo element
 p::first-letter{
  color: red;
  font-size: 20px;
} */
