* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Indie Flower", cursive;
}
#product-overview {
  background: url("./freedom.jpg");
  width: 100%;
  height: 528px;
  padding: 10px;
  font-family: "Yanone Kaffeesatz", sans-serif;
  /* padding: 30px;
    border: 5px solid black; */
}
.section-title {
  color: #05386b;
  text-align: center;
}
#product-overview h1 {
  color: #edf5e1;
}

.plan {
  background-color: #8ee4af;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan--highlighted {
  background: #5cdb95;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  background: white;
  color: #5cdb95;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}
.plan__feature {
  margin: 8px 0;
}

.main-header {
  width: 100%;
  background: #05386b;
  font-family: "Open Sans Condensed", sans-serif;

  padding: 8px 16px; /* 8px padding for top and bottom and 16px for left and right*/
  /* display: inline-block; */
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  font-weight: bold;
  color: #edf5e1;
  text-decoration: none;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 15%);
  vertical-align: middle;
}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}
.main-nav__item a {
  text-decoration: none;
  color: #379683;
  font-weight: bold;
  padding: 3px 0px;
}
/* .main-nav__item a::after {
  content: "(Link)";
  color: red;
} */
.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}
.main-nav__item--cta a {
  color: #edf5e1;
  background: #8ee4af;
  padding: 8px 16px;
  border-radius: 8px;
}
.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #5cdb95;
  background: wheat;
  border: none;
}

/* Pseudo element
 p::first-letter{
  color: red;
  font-size: 20px;
} */
